<div class="card mt-4">
	<div class="card-body text-center">
		<h1>About</h1>
		<h3>Ariel Martin, Desarrollador Web</h3>
		<p>Egresado de la Carrera "Tecnicatura en desarrollo de Aplicaciones Web" en la Universidad Nacional de la Matanza en el año 2016.</p>
		<a href="http://arielmartin.ml" class="btn btn-primary btn-lg mx-auto" target="_blank">Porfolio</a>
	</div>
</div>